footer.py-1
    .container-fluid
        .container
            .row 
                .col-md-6
                    a(href="#") LOGO 
                .col-md-6
                    ul.list-inline.d-flex.justify-content-end
                        li.list-inline-item 
                            a(href="0") VK 
                        li.list-inline-item 
                            a(href="0") Inst
