header 
    .container-fluid
        .container
            .row.align-items-center
                .col-md-3
                    a(href="#") LOGO 
                .col-md-6
                    nav
                        ul.nav.justify-content-center
                            li
                                a.nav-link(href="#project") Наши работы
                            li
                                a.nav-link(href="#project") Производство
                            li
                                a.nav-link(href="#project") Контакты
                            li
                                a.nav-link(href="#project") О нас
                .col-md-3.text-end
                    a(href="tel:+7(000)0000000") +7(000)000-00-00 