#modal--lid.modal(tabindex="-1" style="z-index: 10000;" aria-hidden="true"  aria-labelledby="...")
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable 
        .modal-content.bg-s2
            .modal-header
                h2.fs-3.modal-title Lorem, ipsum dolor.
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    include ../svg/close.svg 
            .modal-body
                form.js-validate
                    .mb-3
                        input.bg-s2.form-control.input-data(type="text" placeholder="Ваше имя" name="name" autocomplete="off" data-validate)
                    .mb-3
                        input.bg-s2.form-control.input-data.input-phone(type="tel" placeholder="Телефон" name="phone" inputmode="numeric" autocomplete="off" data-validate)
                    button.btn.btn-outline-light(type="submit") Отправить
