#modal--des.modal(tabindex="-1" style="z-index: 10000;" aria-hidden="true"  aria-labelledby="...")
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable 
        .modal-content.bg-s2
            .modal-header
                h2.fs-3.modal-title Name
                button.btn-close(type="button" data-bs-toggle="modal" href="#modal--lid" data-bs-dismiss="modal")
                    include ../svg/close.svg 
            .modal-body
                ul.list-group.list-group-flush.w-100
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    li.text-color-main.bg-s2.list-group-item Lorem ipsum dolor sit amet consectetur adipisicing elit.