*
    padding: 0
    margin: 0

html
    height: 100%
    scroll-behavior: smooth
    --my-color-s1: #7405b2
    --my-color-s2: #1a6037
    --my-color-s3: #262628
    --my-color-s4: #414142
    --my-color-rgb-s3: 38, 38, 40

body
    // display: grid
    // grid-template-rows: min-content 1fr min-content
    min-height: 100%
    color: #fff
    background: var(--my-color-s3)

// скролл
::-webkit-scrollbar
    width: 7px

::-webkit-scrollbar-track
    background: #333333
    border-radius: 4px

::-webkit-scrollbar-thumb
    background: var(--my-color-s2)
    border-radius: 4px

::-webkit-scrollbar-thumb:window-inactive
    background: var(--my-color-s2)

// фон
.bg-main
    background: var(--my-color-s3)
    color: #fff
.bg-s2
    background-color: var(--my-color-s4)
    color: #fff

// обводки
.border-s1
    border-color: var(--my-color-s1) !important

.border-s2
    border-color: var(--my-color-s2) !important

// текст
.fw-medium
    font-weight: 600 !important
.text-color-main
    color: #fff

// картинки
img
    max-width: 100%
    max-height: 100%

// ссылки 
a
    color: #fff
    text-decoration: none
    &:hover
        color: #fff

// элементы формы 
.btn:focus,
.btn-close:focus,
.form-control:focus,
.form-check-input:focus,
.form-select:focus,
.form-check-input:focus
    box-shadow: none !important

.form-control:active,
.form-select:active,
.form-control:focus,
.form-select:focus
    border-color: #fff

label
    cursor: pointer

.input-data
    &::-webkit-input-placeholder
        color: #ffffff63
    &:focus
        background: #ffffff7c
        &::-webkit-input-placeholder
            color: #202020


// секция 
section
    margin-bottom: 3rem

// шапка
header
    position: fixed
    top: 0
    z-index: 10000
    background-color: rgba(var(--my-color-rgb-s3), 0.8)
    backdrop-filter: contrast(4) blur(4px)
    transition: all .3s ease
    &.hidden
        transform: translateY(-100%)

// меню
.nav-link
    color: #fff
    &:hover
        color: #fff

.header__button-toggle
    svg
        color: #fff

.btn-close
    background: transparent
    svg
        display: block
        width: 100%
        height: 100%

.banner
    height: 450px
    background: #ccc

.project__img
    width: 250px
    height: 250px
    object-fit: cover

@media (prefers-reduced-motion: reduce)
    .modal
        animation: reduce
